<!-- gmail hack - forces 600px width on mobile gmail -->
<table class="mobile-hide" {{fluid-table}}>
  <tr>
    <td align="center">
      <table {{table}} width="600px" style="width:600px;">
        <tr>
          <td {{table}} style="line-height:1px; height=1px; min-width: 600px;">
          <img src="http://image.email.secretescapes.com/lib/fe8a1272746c017a7d/m/2/Media_Spacer.png" height="1px" width="600px" style="max-height:1px; min-height:1px; display:block; width:600px; min-width:600px;"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="display:none; white-space:nowrap; font-family: courier; font-size: 20px; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

<!-- tracking codes marker -->
<custom name="opencounter" type="tracking">