

{% if include.theme == "dark" %}
  {% assign bgcolor = color.grey-darkest %}
  {% assign textcolor = textcolor %}
{% else %}
  {% assign bgcolor = color.white %}
  {% assign textcolor = text.color.light %}
{% endif %}

<!-- terms & conditions -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{bgcolor}}" style="{{spacing.hpad.sm}} border-top: 1px solid {{color.background}};" class="mobile-margin">
      <table {{responsive-table}} align="center">
        <tr>
          <td style="{{spacing.vpad.xl}}">
            <table {{fluid-table}}>
              {% if page.terms-and-conditions %}
                <tr>
                  <td align="left" style="{{text.text-xs}} {{textcolor}} padding-bottom: {{spacing.p}};" class="text--xs">
                    {{page.terms-and-conditions}}
                  </td>
                </tr>
              {% endif %}
              <tr>
                <td align="left" style="{{text.text-xs}} {{textcolor}} padding-bottom: {{spacing.p}};" class="text--xs">
                  When we’re not curating luxury escapes, we like to keep an eye out for promotions we think you’ll love – like this one. This email was written by our editorial team in partnership with {{site.client.name}}. We hope you enjoyed it.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.text-xs}} {{textcolor}} padding-bottom: {{spacing.p}};" class="text--xs">
                  Clicking our emails will log you into Secret Escapes. To tell friends about the sales it's best to use the share buttons on the site. To get in contact, please email us at <a href="mailto:support@secretescapes.com" style="{{text.bold}} {{textcolor}} text-decoration: none;">support@secretescapes.com</a> or give us a call on <a href="tel:02078872772" style="{{text.bold}} {{textcolor}} text-decoration: none;">+44 (0) 207 887 2772</a>.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.text-xs}} {{textcolor}} padding-bottom: {{spacing.p}};" class="text--xs">
                  England &amp; Wales Company No. <a href="#" style="{{text.text-xs}} {{textcolor}} text-decoration: none;">07026107</a>
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.text-xs}} {{textcolor}}" class="text--xs">
                  This email was sent to <a href="#" style="{{text.bold}} {{textcolor}} {{text.weight}} text-decoration: none;">{% include tracking/user-email.html %}.</a> <a href="http://www.secretescapes.com/your-subscriptions?{% include tracking/url-tracking.html %}" style="{{text.bold}} {{textcolor}} text-decoration: none;">Unsubscribe here</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- gmail hack - forces 600px width on mobile gmail -->
<table class="mobile-hide" {{fluid-table}}>
  <tr>
    <td align="center">
      <table {{table}} width="600px" style="width:600px;">
        <tr>
          <td {{table}} style="line-height:1px; height=1px; min-width: 600px;">
          <img src="http://image.email.secretescapes.com/lib/fe8a1272746c017a7d/m/2/Media_Spacer.png" height="1px" width="600px" style="max-height:1px; min-height:1px; display:block; width:600px; min-width:600px;"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="display:none; white-space:nowrap; font-family: courier; font-size: 20px; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

<!-- tracking codes marker -->
<custom name="opencounter" type="tracking">