
{% if include.theme == "dark" %}
  {% assign bgcolor = color.grey-darkest %}
  {% assign textcolor = text.color.white %}
  {% assign hrcolor = color.grey-darker %}
  {% assign trustpilot = "_dark" %}
  {% assign bordercolor = color.grey-darker %}
{% else %}
  {% assign bgcolor = color.white %}
  {% assign hrcolor = color.grey-lighter %}
  {% assign textcolor = text.color.normal %}
  {% assign bordercolor = color.grey-lighter %}
{% endif %}

<!-- footer -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{bgcolor}}" align="center">
      <table {{responsive-table}}>
        <tr>
          <td style="{{spacing.vpad.lg}} {{spacing.hpad.sm}}">

            <!-- sign off message -->
            <table {{fluid-table}}>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.sm}} {{textcolor}}">
                  Best wishes,
                </td>
              </tr>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.xl}} {{textcolor}} padding-top: 1px; padding-bottom: 3px;">
                  The Secret Escapes Team
                </td>
              </tr>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.sm}} {{textcolor}}">
                  Any questions? See our<a href="http://www.secretescapes.com/faq?{% include tracking/url-tracking.html %}" style="{{text.bold}} {{textcolor}} text-decoration: none;"> FAQs</a> here.
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

