<!-- dont think that this will actually be used -->


<!-- header -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.grey-lightest}}">
      <div align="center">
        <table {{responsive-table}}>
          <tr>
            <!-- header logos -->
            <td style="{{spacing.vpad.md}} {{spacing.hpad.sm}}" class="header-padding">
              <table {{fluid-table}}>
                <tr>
                  <td width="300" align="left">
                    <a href="http://www.secretescapes.com/current-sales?{% include page/_amp-script/se-site-tracking.html %}">
                      {% include logo/se-black.html %}
                    </a>
                  </td>
                  <td width="300" align="right">
                    <a href="{{ page.campaign-link }}">
                      {% include logo/partner-black.html %}
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>