
{% include _config/variables.html %}
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.white}}" align="center" style="{{spacing.boxpad.xs}}">
      <!-- HIDDEN PREHEADER TEXT -->
      <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; {{text.color.white}} {{text.family}}">
        {{page.preheader}}
      </div>
      <!-- OPEN IN BROWSER MESSAGE -->
      <table {{responsive-table}}>
        <tr>
          <td>
            <table {{fluid-table}}>
              <tr>
                <td align="center" style="{{text.family}} {{text.xs}} {{text.bold}} {{text.color.light}}">
                  <a href="{% include tracking/view-online.html %}" style="{{text.bold}} {{text.color.light}} text-decoration: none;">View online</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>