<!-- Button -->

{% include _config/variables.html %}

{% assign link = page.page-link %}
{% if include.link %}
  {% assign link = include.link %}
{% endif %}

{% assign label = page.main-button-label %}
{% if include.label %}
  {% assign label = include.label %}
{% endif %}

{% assign button-style = include.style %}
{% assign button-size  = include.size %}

{% if include.align %}
  {% assign align  = include.align %}
{% endif %}

{% include _config/button.html %}

<table {{fluid-table}}>
  <tr>
    <td style="{{spacing.vpad-sm}} padding-top: {{spacing.p}}" align="{{align}}">
      <a href="{{link}}" class="{{button-class}}" style="{{button.default}} {{button-size}} {{button-style}}">
        {{label}}
      </a>
    </td>
  </tr>
</table>


