<!-- element/image.html -->

{% assign image = include.image %}
{% assign align = "center" %}
{% assign link = page.page-link %}
{% assign width = "100%" %}


{% if include.width %}
  {% assign width = include.width %}
{% endif %}

{% if include.align %}
  {% assign align = include.align %}
{% endif %}

{% if include.link %}
  {% assign link = include.link %}
{% endif %}

<table {{table.fluid}}>
  <tr>
    <td align="center">
      <a href="{{link}}">
        <img class="responsive-lg" src="{{page.img}}{{image}}" alt="{{include.alt}}" width="{{width}}" style="display: block;" />
      </a>
    </td>
  </tr>
</table>

