<!-- Location -->

{% include _config/variables.html %}

{% assign theme         = include.theme %}
{% assign text-style    = text.family | append: text.bold | append: text.sm | append: text.upper | append: text.color.light %}
{% assign location-data = include.location %}

{% assign pin = "http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..pin.png" %}
{% if include.pin == "white" %}
  {% assign pin = "http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..pin-wh.png" %}
{% elsif include.pin == "black" %}
  {% assign pin = "http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..pin-bl.png" %}
{% endif %}

{% if theme == "dark" %}
  {% assign text-style = text-style | append: text.color.white %}
{% endif %}

<table {{fluid-table}}>
  <tr>
    <td align="left" colspan="3" style="padding-bottom: 12px;">
      <table {{fluid-table}}>
        <tr>
          <!-- map pin icon -->
          <td align="left" valign="middle" width="20">
            <img src="{{pin}}" border="0" alt="Location icon" width="12" height="16" style="display: inline-block;">
          </td>
          <!-- location text -->
          <td align="left" style="{{text-style}} {{text.color.normal}} line-height: 16px;" class="text--sm">
            {{location-data}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>