<!-- Paragraph -->

{% include system/helpers.html %}

{% assign align      = "center" %}
{% assign style      = "default" %}
{% assign textcolor  = color.grey.dark %}
{% assign space      = spacing.paragraph %}

{% if include.align %}
  {% assign align = include.align %}
{% endif %}

{% if include.style %}
  {% assign style = include.style %}
{% endif %}

{% if include.color %}
  {% assign textcolor = include.color %}
{% endif %}

{% if include.space %}
  {% assign space = include.space %}
{% endif %}

<tr>
  <td align="{{align}}" class="text{% if include.style %}-{{include.style}}{% endif %}" style="{{text.[style]}} color: {{textcolor}}; {% if forloop.last %}padding-bottom: 0;{% endif %}">
    {{include.paragraph}}
  </td>
</tr>