---
layout: client

subject-line: Subject line
preheader: Email preheader

page-link: "#page-link"
main-button-label: Default button text
terms-and-conditions: "Terms and conditions."



main:
  style:
    row-gutter: 30
    align: center
    title: xl
  content:
    - image: intro.jpg
    - title: Praesent commodo cursus magna
    - paragraph: Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    - paragraph: Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    - button: Intro button



offers:
  style:
    row-gutter: 30
    box-color: "#ffffff"
    align: left
    title: lg
    text: sm
    height: 300
  objects:

    - content:
      - image: 1-1.jpg
      - title: Offer
      - location: Location name
      - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      - price: 100
        description: per person per night
      - button: Book now

    - content:
      - image: 1-1.jpg
      - title: Offer
      - location: Location name
      - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      - price: 100
        description: per person per night
      - button: Book now

    - content:
      - image: 1-1.jpg
      - title: Offer
      - location: Location name
      - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      - price: 100
        description: per person per night
      - button: Book now

    - content:
      - image: 1-1.jpg
      - title: Offer
      - location: Location name
      - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      - price: 100
        description: per person per night
      - button: Book now


---
{% include _config/variables.html %}


{% include module/loop/image-text-row.html content=page.offers %}

