---
layout: client

subject-line: Subject line
preheader: Email preheader

page-link: "#page-link"
main-button-label: Default button text
terms-and-conditions: "Terms and conditions."

main:
  style:
    row-gutter: 30
    align: center
    title: xxl
  content:
    - image: 16-9.jpg
    - title: Title
    - paragraph: Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    - paragraph: Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    - button: Intro button



features:
  link: "#same-link-for-all"
  style:
    row-gutter: 0
    alternating: true
    height: 400
    button:
      style: partner-light
  objects:
    - content:
        - image: 3-4.jpg
        - title: Lorem ipsum dolor sit amet consectetur adipisicing elit
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: More info

    - content:
        - image: 3-4.jpg
        - title: Lorem ipsum dolor sit amet consectetur adipisicing elit
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: More info

    - content:
        - image: 3-4.jpg
        - title: Lorem ipsum dolor sit amet consectetur adipisicing elit
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: More info

---
{% include _config/variables.html %}



{% include module/loop/image-text-row.html content=page.features %}
{% include element/space.html height="60" color=color.background %}

<table {{fluid-table}}>
  <tr>
    <td align="center" bgcolor="{{color.background}}" style="{{spacing.hpad.sm}}">
      <table {{responsive-table}}>
        <tr>
          <td align="center">
            {% include element/button.html label="View all offers" align="center" style="orange" size="md" %}
            {% include element/space.html height="60" %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
