---
layout: hub

subject-line: Subject line
preheader: Email preheader

page-link: "#page-link"
main-button-label: Default button text
terms-and-conditions: "Terms and conditions."



main:
  style:
    row-gutter: 60
    box-color: rgba(0,0,0,0.6)
    background-color: "#ffffff"
    theme: dark
    align: center
    text: lg
    button:
      size: md
  banner:
    title: Alt title
    title-image: hub.png
    title-image-width: 480
  background:
    image: hub.jpg
    color: "#191c26"
  content:
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a quibusdam et unde, molestias similique perferendis neque impedit ab atque facere modi blanditiis debitis incidunt aliquid officiis doloremque perspiciatis eaque praesentium cupiditate quisquam reiciendis consequuntur rerum! Minus, cum possimus voluptatibus!
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, harum vel! Obcaecati reprehenderit, maiores non officia, fuga consequatur dignissimos assumenda.
    - space: 10
    - button: Discover more
      link: "#intro-link"



hub-content:
  style:
    row-gutter: 30
    background-color: "#ffffff"
    box-color: "#ffffff"
    height: 300
    align: center
    title: xl
  objects:

    - content:
        - image: 16-9.jpg
        - title: Content section
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: Button label

    - content:
        - image: 16-9.jpg
        - title: Content section
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: Button label

    - content:
        - image: 16-9.jpg
        - title: Content section
        - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        - button: Button label


---
{% include _config/variables.html %}


{% include module/loop/one-column.html content=page.hub-content %}

