---
layout: hub

subject-line: Subject line
preheader: Email preheader

page-link: "#page-link"
main-button-label: Default button text
terms-and-conditions: "Terms and conditions."



main:
  style:
    row-gutter: 60
    box-color: rgba(0,0,0,0.6)
    theme: dark
    align: center
    text: lg
    button:
      size: lg
  banner:
    title: Alt title
    title-image: hub.png
    title-image-width: 480
  background:
    image: hub.jpg
    color: "#191c26"
  content:
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a quibusdam et unde, molestias similique perferendis neque impedit ab atque facere modi blanditiis debitis incidunt aliquid officiis doloremque perspiciatis eaque praesentium cupiditate quisquam reiciendis consequuntur rerum! Minus, cum possimus voluptatibus!
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, harum vel! Obcaecati reprehenderit, maiores non officia, fuga consequatur dignissimos assumenda.
    - button: Discover more
      link: "#intro-link"


---
{% include _config/variables.html %}



{% for offer in site.data.offers %}
  {% include offers/offer.html layout="one-column" %}
{% endfor %}

{% for offer in site.data.offers %}
  {% include offers/offer.html layout="two-column" %}
{% endfor %}

<table {{fluid-table}}>
  <tr>
    <td align="center" bgcolor="{{color.background}}" style="{{spacing.hpad.sm}}">
      <table {{responsive-table}}>
        <tr>
          <td align="center">
            {% include element/button.html label="View all offers" style="orange" size="md" align="center" %}
            {% include element/space.html height="60" %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


