---
layout: default

subject-line: Component Library

title-banner:
  config:
    row-gutter: 30
    theme: dark
  title:
    - title: Component Library
      style: xxxl

hero-banner:
  config:
    row-gutter: 30
    theme: dark
  image:
    file: BG..hero.jpg
    height: 600
  content:
    - title: A riot of spice & colour
      style: xxxl
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.
      style: lg
    - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      style: lg




typography:
  config:
    row-gutter: 0
  items:
    - content:
      - title: Title XXXL
        style: xxxl
      - paragraph: Paragraph XXXL
        style: xxxl
      - title: Title XXL
        style: xxl
      - paragraph: Paragraph XXL
        style: xxl
      - title: Title XL
        style: xl
      - paragraph: Paragraph XL
        style: xl
      - title: Title LG
        style: lg
      - paragraph: Paragraph LG
        style: lg
      - title: Title MD
        style: md
      - paragraph: Paragraph MD
        style: md
      - title: Title SM
        style: sm
      - paragraph: Paragraph SM
        style: sm
      - title: Title XS
        style: xs
      - paragraph: Paragraph XS
        style: xs



one-col:
  config:
    row-gutter: 30
    align: center
  items:
    - link: "#one-col-link"
      image: C..16-9.jpg
      content:
        - title: Your guide to Marrakech's markets
          style: xl
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          style: lg
        - promo: SECRET20
          before: Apply this code at checkout to claim your 20% discount
          after: Terms & conditions apply
        - space: 15
        - button: Read more
          scale: xl



two-col:
  config:
    row-gutter: 30
    col-gutter: 30
    align: center
  items:

    - link: "#two-col-link"
      image: C..16-9.jpg
      content:
        - title: Your guide to Marrakech's markets
          style: md
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        - button: Read more
          link: "#two-col-button-link"

    - link: "#two-col-link"
      image: C..16-9.jpg
      content:
        - title: Your guide to Marrakech's markets
          style: md
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        - button: Read more



three-col:
  config:
    row-gutter: 30
    col-gutter: 15
    align: left
  items:

    - link: "#three-col-link"
      image: C..4-3.jpg
      content:
        - title: Marrakech
          style: sm
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          style: sm

    - link: "#three-col-link"
      image: C..4-3.jpg
      content:
        - title: Marrakech
          style: sm
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          style: sm

    - link: "#three-col-link"
      image: C..4-3.jpg
      content:
        - title: Marrakech
          style: sm
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          style: sm



image-text-row:
  config:
    row-gutter: 30
    align: left
  items:
    - link: "#one-col-link"
      image: C..1-1.jpg
      content:
        - title: Your guide to Marrakech's markets
          style: md
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          style: lg
        - button: Read more
          scale: md



offer:
  items:

    - title: Soak in Slovenia's thermal springs
      attribute: Editors pick
      location: Slovenia
      description: Discover Slovenia from the 4-star Riske Terme thermal resort. Incl. half board, car rental, luxury spa entry, thermal baths & return flights!
      price: 389
      price-description: per room per night
      saved: 40%
      expires: 2019/10/26
      image: https://travelbird-images.imgix.net/4c/2a/4c2a5de4b4fd3ce9d3a5b23840afb7aa?auto=compress%2Cformat&crop=faces%2Cedges%2Ccenter&dpr=2&fit=crop&h=700&w=1050
      link: https://co.uk.sales.secretescapes.com/115743/thermal-slovenia/


---
{% include system/helpers.html %}



{% include page/header/logo.html %}
{% include page/header/title.html %}
<table {{table.outer}}>
  <tr>
    <td align="center" bgcolor="{{color.background.inner}}" style="{{spacing.gutter}}">

      <table {{table.inner}}>
        <tr>
          <td align="center">
            {% include element/space.html height="30" %}
            {% include element/title.html title="Foundations / Typography" style="xl" %}
            {% include element/space.html height="30" %}
            {% include component/one-col.html content=page.typography %}
          </td>
        </tr>
      </table>

      {% include element/space.html height="60" %}
      {% include element/title.html title="Foundations / Colours" style="xl" %}
      {% include element/space.html height="30" %}

      <table {{table.inner}}>
        <tr>
          <td align="center" bgcolor="{{color.background.box}}" style="{{spacing.boxpad.md}} {{rounded.md}} {{depth.md}}">

            {% include element/title.html title="Neutrals" style="subtitle" %}
            {% include element/space.html height="15" %}
            <table {{table.fluid}}>
              <tr>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.medium}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.white}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.lightest}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.lighter}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.light}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.medium}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.dark}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.darker}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.grey.darkest}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.black}}"></td>
              </tr>
            </table>

            {% include element/space.html height="15" %}
            {% include element/title.html title="Primary" style="subtitle" %}
            {% include element/space.html height="15" %}
            <table {{table.fluid}}>
              <tr>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.default}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.lightest}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.lighter}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.light}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.medium}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.dark}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.darker}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.primary.darkest}}"></td>
              </tr>
            </table>

            {% include element/space.html height="15" %}
            {% include element/title.html title="Secondary" style="subtitle" %}
            {% include element/space.html height="15" %}
            <table {{table.fluid}}>
              <tr>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.default}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.lightest}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.lighter}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.light}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.medium}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.dark}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.darker}}"></td>
                <td style="{{spacing.boxpad.sm}}" bgcolor="{{color.secondary.darkest}}"></td>
              </tr>
            </table>

            {% include element/space.html height="15" %}
            {% include element/title.html title="Gradient" style="subtitle" %}
            {% include element/space.html height="15" %}
            <table {{table.fluid}}>
              <tr>
                <td style="{{spacing.boxpad.sm}} {{color.gradient.primary}}"></td>
                <td style="{{spacing.boxpad.sm}} {{color.gradient.secondary}}"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      {% include element/space.html height="60" %}
      {% include element/title.html title="Foundations / Buttons" style="xl" %}
      {% include element/space.html height="30" %}

      <table {{table.inner}}>
        <tr>
          <td align="center" bgcolor="{{color.background.box}}" style="{{spacing.boxpad.md}} {{rounded.md}} {{depth.md}}">

            {% include element/title.html title="primary + xs" style="subtitle" %}
            {% include element/space.html height="15" %}
            {% include element/button.html label="Read more" link="#button-link" style="primary" scale="xs" %}

            {% include element/space.html height="15" %}
            {% include element/title.html title="secondary + sm" style="subtitle" %}
            {% include element/space.html height="15" %}
            {% include element/button.html label="Read more" link="#button-link" style="secondary" scale="sm" %}

            {% include element/space.html height="15" %}
            {% include element/title.html title="partner + md" style="subtitle" %}
            {% include element/space.html height="15" %}
            {% include element/button.html label="Read more" link="#button-link" style="partner" scale="md" %}

            {% include element/space.html height="15" %}
            {% include element/title.html title="light + lg" style="subtitle" %}
            {% include element/space.html height="15" %}
            {% include element/button.html label="Read more" link="#button-link" style="light" scale="lg" %}

            {% include element/space.html height="15" %}
            {% include element/title.html title="outline + xl" style="subtitle" %}
            {% include element/space.html height="15" %}
            {% include element/button.html label="Read more" link="#button-link" style="outline" scale="xl" %}

          </td>
        </tr>
      </table>

      {% include element/space.html height="30" %}
      {% include element/title.html title="Components" style="xl" %}
      {% include element/space.html height="30" %}

      {% include component/one-col.html content=page.one-col %}
      {% include component/two-col.html content=page.two-col %}
      {% include component/three-col.html content=page.three-col %}
      {% include component/row.html content=page.image-text-row %}
      {% include component/row-offer.html content=page.offer %}
      {% include component/one-col-offer.html content=page.offer %}

    </td>
  </tr>
</table>

<table {{table.outer}}>
  <tr>
    <td align="center" bgcolor="{{color.background.inner}}" style="{{spacing.gutter}}">
      {% include element/space.html height="30" %}
      {% include element/title.html title="Page Blocks" style="xl" %}
      {% include element/space.html height="30" %}
    </td>
  </tr>
</table>

{% include page/header/logo-white.html %}
{% include page/header/logo.html %}

{% include page/header/hero.html %}
{% include page/header/image.html %}

{% include page/footer/promo.html %}
{% include page/footer/best-wishes.html %}
{% include page/footer/quicklinks.html %}


