---
layout: sandbox



title-banner:
  config:
    link: "#hero-link"
    row-gutter: 30
  title:
    - title: Spotlight on
      style: subtitle
      color: "#ffffff"
    - title: Manchester, England
      style: xxxl
      color: "#ffffff"

hero-banner:
  config:
    link: "#hero-link"
    row-gutter: 30
  image:
    file: BG..header.jpg
    height: 300
  content:
    - paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.
      style: lg
    - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      style: lg

offer:
  items:

    - title: Soak in Slovenia's thermal springs
      attribute: Editors pick
      location: Slovenia
      description: Discover Slovenia from the 4-star Riske Terme thermal resort. Incl. half board, car rental, luxury spa entry, thermal baths & return flights!
      price: 389
      price-description: per room per night
      saved: 40%
      expires: 2019/10/26
      image: https://travelbird-images.imgix.net/4c/2a/4c2a5de4b4fd3ce9d3a5b23840afb7aa?auto=compress%2Cformat&crop=faces%2Cedges%2Ccenter&dpr=2&fit=crop&h=700&w=1050
      link: https://co.uk.sales.secretescapes.com/115743/thermal-slovenia/

component:
  config:
    row-gutter: 30
    align: left
  items:
    - link: "#one-col-link"
      image: C..1-1.jpg
      content:
        - title: Your guide to Marrakech's markets
          style: md
        - paragraph: Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          style: lg
        - button: Read more
          scale: md

---
{% include system/helpers.html %}

<table {{table.outer}}>
  <tr>
    <td align="center" bgcolor="{{color.background.inner}}">

      {% include page/footer/best-wishes.html %}
    </td>
  </tr>
</table>
