<!-- Content container -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.grey-darkest}}" style="{{spacing.hpad.xs}} padding-bottom: 80px;">
      <table {{responsive-table}} bgcolor="{{color.grey-dark}}">
        <tr>
          <td>
            <table {{fluid-table}}>
              <tr>
                <td>
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!--                           CONTENT GOES HERE                             -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->

<!-- div is only here to create space, please delete when entering content-->
<div style="height: 600px;"></div>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>