<!-- header -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.grey-darkest}}">
      <div align="center">
        <table {{responsive-table}}>
          <tr>
            <!-- header logo -->
            <td style="{{spacing.vpad.lg}} {{spacing.hpad.sm}}">
              <table {{fluid-table}}>
                <tr>
                  <td align="center">
                    <a href="http://www.secretescapes.com/current-sales?{% include page/_amp-script/se-site-tracking.html %}" style="{{text.family}} {{text.weight}} {{text.color.white}}">
                      {% include element/logo/se-large-white.html %}
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>