<!-- Image text row -->

{% include _config/variables.html %}

{% assign this = include.content %}
{% assign objects = this.objects %}
{% assign style = this.style %}



{% assign link = page.page-link %}
{% if this.link %}
  {% assign link = this.link %}
{% endif %}

{% assign align = center %}
{% if style.align %}
  {% assign align = style.align %}
{% endif %}

{% assign bgcolor = color.background %}
{% if style.background-color %}
  {% assign bgcolor = style.background-color %}
{% endif %}

{% assign boxcolor = color.box %}
{% if style.box-color %}
  {% assign boxcolor = style.box-color %}
{% endif %}

{% assign row-gutter = "padding-bottom: 30px;" %}
{% if style.row-gutter %}
  {% assign row-gutter = "padding-bottom:" | append: style.row-gutter | append:"px;" %}
{% endif %}

{% assign height = "300" %}
{% if style.height %}
  {% assign height = style.height %}
{% endif %}



{% for object in objects %}

  {% assign style = include.content.style %}
  {% if style.alternating %}
    {% assign column-id = forloop.index | modulo: 2 %}
    {% if column-id == 1 %}
      {% assign align-col-1 = "left" %}
      {% assign align-col-2 = "right" %}
    {% elsif column-id == 0 %}
      {% assign align-col-1 = "right" %}
      {% assign align-col-2 = "left" %}
    {% endif %}
  {% else %}
    {% assign align-col-1 = "left" %}
    {% assign align-col-2 = "right" %}
  {% endif %}

  {% assign rows = object.content %}

  <table {{fluid-table}} bgcolor="{{bgcolor}}">
    <tr>
      <td align="center" style="{{spacing.hpad.sm}} {{row-gutter}}">
        <table {{responsive-table}} bgcolor="{{boxcolor}}">
          <tr>
            <td class="mobile-wrapper" valign="middle" style="vertical-align:middle;">

              <table {{table}} width="50%" class="responsive-table" style="height: {{height}}px;" align="{{align-col-1}}">
                <tr>
                  <td valign="middle">
                    {% for row in rows %}
                      {% if row.image %}
                        {% if row.link %} {% assign link = row.link %} {% endif %}
                        <a href="{{link}}{{site.url-tracking}}">
                          <img src="{% include img-pre.html type='C' name=row.image %}" width="300" style="display: block; width: 100%; height:auto;" class="img-max" />
                        </a>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              </table>

              <table {{table}} width="49.999999%" class="responsive-table" style="height: {{height}}px;" align="{{align-col-2}}">
                <tr>
                  <td align="center" style="{{spacing.boxpad.sm}}" valign="middle">
                    {% include module/_content/content.html %}
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endfor %}
