
<!-- Loop over possible element includes, to construct content from front-matter -->
{% for row in include.content %}

  {% if row.link %}
    {% assign link = row.link %}
  {% elsif item.link %}
    {% assign link = item.link %}
  {% elsif config.link %}
    {% assign link = config.link %}
  {% else %}
    {% assign link = page.link %}
  {% endif %}

  {% if row.title %}
    {% include element/title.html
      title=row.title
      style=row.style
      color=row.color
      theme=include.theme
      align=include.align %}

  {% elsif row.paragraph %}
    {% include element/paragraph.html
      paragraph=row.paragraph
      style=row.style
      spacing=row.spacing
      color=row.color
      theme=include.theme
      align=include.align %}

  {% elsif row.text-link %}
    {% include element/text-link.html
      text-link=row.text-link
      link=link
      style=row.style
      color=row.color
      theme=include.theme
      align=include.align %}

  {% elsif row.button %}
    {% include element/button.html
      label=row.button
      link=link
      style=row.style
      scale=row.scale
      align=include.align %}

  {% elsif row.location %}
    {% include element/location.html
      location=row.location
      theme=include.theme
      align=include.align %}

  {% elsif row.promo %}
    {% include element/promo.html
      promo=row.promo
      before=row.before
      after=row.after
      color=row.color
      theme=include.theme
      align=include.align %}

  {% elsif row.hr %}
    {% include element/hr.html
      height=row.hr
      width=row.width
      color=row.color
      align=include.align %}

  {% elsif row.space %}
    {% include element/space.html
      height=row.space
      color=row.color %}

  {% elsif row.image %}
    {% include element/image.html
      image=row.image
      width=row.width
      link=link %}

  {% endif %}
{% endfor %}