
{% assign config       = include.content.config %}
{% assign items        = include.content.items %}
{% assign row-gutter   = "30" %}
{% assign text-align   = "center" %}
{% assign background   = color.background.box %}
{% assign theme        = config.theme %}

{% if config.align %}
  {% assign text-align = config.align %}
{% endif %}

{% if config.row-gutter %}
  {% assign row-gutter = config.row-gutter %}
{% endif %}

{% if config.background %}
  {% assign background = config.background %}
{% endif %}



{% for item in items %}
  {% assign link = item.link %}

  <table {{table.inner}}>
    <tr>
      <td bgcolor="{{background}}" style="{{rounded.md}} {{depth.default}}">

        <table {{table.default}}>
          {% if item.image %}
          <tr>
            <td>
              <a href="{{link}}">
                <img class="img-max" src="img/{{item.image}}" width="100%" style="display: block; border-top-left-radius: 3px; border-top-right-radius: 3px;{% unless item.content %} border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;{% endunless %}" />
              </a>
            </td>
          </tr>
          {% endif %}
          {% if item.content %}
          <tr>
            <td style="{{spacing.hpad.md}} {{spacing.vpad.md}}">
              <table {{table.default}}>
                {% include component/_content.html content=item.content align=text-align theme=theme %}
              </table>
            </td>
          </tr>
          {% endif %}
        </table>

      </td>
    </tr>
    {% include element/space.html height=row-gutter %}
  </table>

{% endfor %}
