
{% assign config       = include.content.config %}
{% assign items        = include.content.items %}
{% assign row-gutter   = "30" %}
{% assign text-align   = "center" %}
{% assign background   = color.background.box %}
{% assign theme        = config.theme %}
{% assign width        = layout.width.lg | divided_by: 2 %}

{% if config.align %}
  {% assign text-align = config.align %}
{% endif %}

{% if config.row-gutter %}
  {% assign row-gutter = config.row-gutter %}
{% endif %}

{% if config.background %}
  {% assign background = config.background %}
{% endif %}




{% for item in items %}
  {% assign link = item.link %}

  <table {{table.inner}}>
    <tr>
      <td align="center" bgcolor="{{background}}" style="{{rounded.md}} {{depth.default}}">

        <table {{table.default}} class="responsive-table-lg" align="left" width="{{width}}">
          <tr>
            <td align="center">
              <a href="{{link}}">
                <img class="img-max" src="{{site.image}}{{item.image}}" width="{{width}}" style="display: block; border-top-left-radius: 3px; border-bottom-left-radius: 3px;" />
              </a>
            </td>
          </tr>
        </table>

        <table {{table.default}} class="responsive-table-lg" align="right" width="{{width | minus: 5}}">
          <tr>
            <td align="center" style="{{spacing.hpad.sm}}" height="300" valign="middle" class="responsive-td-lg">
              {% include component/_content.html content=item.content align=text-align theme=theme %}
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  {% include element/space.html height=row-gutter %}

{% endfor %}
