
{% assign config       = include.content.config %}
{% assign items        = include.content.items %}
{% assign row-gutter   = "30" %}
{% assign col-gutter   = "15" %}
{% assign text-align   = "center" %}
{% assign background   = color.background.box %}
{% assign theme        = config.theme %}

{% if config.align %}
  {% assign text-align = config.align %}
{% endif %}

{% if config.row-gutter %}
  {% assign row-gutter = config.row-gutter %}
{% endif %}

{% if config.col-gutter %}
  {% assign col-gutter = config.col-gutter %}
{% endif %}

{% if config.background %}
  {% assign background = config.background %}
{% endif %}



{% for item in items %}
  {% assign link = item.link %}

  <!-- Widths and gutters -->
  {% assign width = layout.width.lg | minus: col-gutter | minus: col-gutter | divided_by: 3 %}

  <!-- Alignment -->
  {% capture pos %}{% cycle "one", "two", "three" %}{% endcapture %}
  {% if pos == "one" %}
    {% assign align = "left" %}
  {% elsif pos == "two" %}
    {% assign align = "left" %}
  {% elsif pos == "three" %}
    {% assign align = "left" %}
  {% endif %}

  {% if pos == 'one' %}
  <table {{table.inner}}>
    <tr>
      <td>
  {% endif %}

        <table {{table.default}} class="responsive-table-lg" align="{{align}}" width="{{width}}">
          <tr>
            <td bgcolor="{{background}}" style="{{rounded.md}} {{depth.default}}">
              <table {{table.default}}>

                <tr>
                  <td>
                    <a href="{{link}}">
                      <img class="img-max" src="img/{{item.image}}" width="100%" style="display: block; border-top-left-radius: 3px; border-top-right-radius: 3px;" />
                    </a>
                  </td>
                </tr>

                <tr>
                  <td style="{{spacing.vpad.sm}} {{spacing.hpad.xs}}">
                    <table {{table.default}}>
                      {% include component/_content.html content=item.content align=text-align theme=theme %}
                    </table>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
          {% include element/space.html height=row-gutter %}
        </table>

        {% if pos == 'one' or pos == 'two' %}
        <!-- Spacer -->
        <table {{table.default}} class="responsive-table-lg" align="left" width="{{col-gutter}}">
          <tr><td>&nbsp;</td></tr>
        </table>
        {% endif %}

  {% if pos == 'three' or forloop.last %}
      </td>
    </tr>
  </table>
  {% endif %}
{% endfor %}
