
{% assign config       = include.content.config %}
{% assign items        = include.content.items %}
{% assign row-gutter   = "30" %}
{% assign col-gutter   = "30" %}
{% assign text-align   = "center" %}
{% assign background   = color.background.box %}
{% assign theme        = config.theme %}

{% if config.align %}
  {% assign text-align = config.align %}
{% endif %}

{% if config.row-gutter %}
  {% assign row-gutter = config.row-gutter %}
{% endif %}

{% if config.col-gutter %}
  {% assign col-gutter = config.col-gutter %}
{% endif %}

{% if config.background %}
  {% assign background = config.background %}
{% endif %}



{% for item in items %}
  {% assign link = item.link %}

  <!-- Widths and gutters -->
  {% assign width = layout.width.lg | minus: col-gutter | divided_by: 2 %}

  <!-- Alignment -->
  {% capture pos %}{% cycle "one", "two" %}{% endcapture %}
  {% if pos == "one" and forloop.last %}
    {% assign align = "center" %}
  {% elsif pos == "one" %}
    {% assign align = "left" %}
  {% elsif pos == "two" %}
    {% assign align = "right" %}
  {% endif %}

  {% if pos == 'one' %}
  <table {{table.inner}}>
    <tr>
      <td align="center">
  {% endif %}
        <table {{table.default}} class="responsive-table-lg" align="{{align}}" width="{{width}}">
          <tr>
            <td align="center" style="padding-bottom: {{row-gutter}}px;">
              <table {{table.default}}>
                <tr>
                  <td align="center" bgcolor="{{background}}" style="{{rounded.md}} {{depth.default}}">
                    <table {{table.default}}>

                      {% if item.image %}
                      <tr>
                        <td align="center">
                          <a href="{{link}}">
                            <img class="img-max" src="{{site.image}}{{item.image}}" width="100%" style="display: block; border-top-left-radius: 3px; border-top-right-radius: 3px;{% unless item.content %} border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;{% endunless %}" />
                          </a>
                        </td>
                      </tr>
                      {% endif %}
                      {% if item.content %}
                      <tr>
                        <td style="{{spacing.vpad.md}} {{spacing.hpad.sm}}">
                          {% include component/_content.html content=item.content align=text-align theme=theme %}
                        </td>
                      </tr>
                      {% endif %}

                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        {% if pos == 'one' %}
        <!-- Spacer -->
        <table {{table.default}} class="responsive-table-lg" align="center" width="{{col-gutter}}">
          <tr><td></td></tr>
        </table>
        {% endif %}

  {% if pos == 'two' or forloop.last %}
      </td>
    </tr>
  </table>
  {% endif %}
{% endfor %}
