{% assign paragraph-space = "padding-bottom: " | append: spacing.p | append: ";" %}
<!-- terms & conditions -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.white}}" style="{{spacing.hpad.md}}">
      <table {{responsive-table}}>
        <tr>
          <td style="{{spacing.vpad.xl}}">
            <table {{fluid-table}}>
              <tr>
                <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}} {{paragraph-space}}">
                  Terms and conditions go here - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi atque sint dolor laborum possimus saepe, facilis velit, maiores ipsam! Nisi repudiandae itaque fuga quod magni voluptatum amet omnis incidunt.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}} {{paragraph-space}}">
                  Clicking our emails will log you into Secret Escapes. To tell friends about the sales it's best to use the share buttons on the site. To get in contact, please email us at <a href="mailto:support@secretescapes.com" style="{{text.bold}} {{text.color.normal}} text-decoration: none;">support@secretescapes.com</a> or give us a call on <a href="tel:02078872772" style="{{text.bold}} {{text.color.normal}} text-decoration: none;">+44 (0) 207 887 2772</a>.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}} {{paragraph-space}}">
                  England &amp; Wales Company No. <a href="#" style="{{text.color.normal}} text-decoration: none;">07026107</a>
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}}">
                  This email was sent to <a href="#" style="{{text.color.normal}} {{text.weight}} text-decoration: none;">{% include page/_amp-script/user-email.html %}.</a> <a href="http://www.secretescapes.com/your-subscriptions?{% include page/_amp-script/se-site-tracking.html %}" style="{{text.bold}} {{text.color.normal}} text-decoration: none;">Unsubscribe here</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>