<!-- Content container -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.grey-lightest}}" style="{{spacing.hpad.xs}} padding-bottom: 80px;">
      <table {{responsive-table}} align="center" bgcolor="{{color.white}}">
        <tr>
          <td>
            <table {{fluid-table}}>
              <tr>
                <td>
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!--                           CONTENT GOES HERE                             -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->
<!-- ####################################################################### -->

<!-- these br's are only here to create space, please delete when entering content-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>