
<!-- TOP BAR -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 10px 0;border-bottom: 1px solid #e0e0e0;">
      <!-- HIDDEN PREHEADER TEXT -->
      <div style="display: none; font-size: 1px; color: #000000; line-height: 1px; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        !!! email-heading !!!
      </div>
      <!-- OPEN IN BROWSER MESSAGE -->
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="font-size: 10px; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 300; color: #000000;">
                  If you can’t read this email, please
                  <a href="%%view_email_url%%" style="text-decoration: none; font-weight: 600;">view online</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<!-- LOGO HEADER -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#f1f1f2">
      <div align="center" style="padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrapper">
          <!-- LOGO/PREHEADER TEXT -->
          <tr>
            <td style="padding: 40px 25px;" class="logo">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="300" align="left">
                    <a href="http://www.secretescapes.com/current-sales?email=%%EMAIL%%&code=%%REFERENCE%%&utm_source=secretescapes&utm_medium=email&utm_campaign=%%=v(@campaign)=%%%%=v(@GA)=%%">
                      <img alt="Secret Escapes Logo" src="{{ site.baseurl }}/img/logo-secret-escapes.png" width="120" style="display:block; padding: 5px 0 0;" border="0" />
                    </a>
                  </td>
                  <td width="300" align="right">
                    <a href="{{ page.campaign-link }}">
                      <img alt="{{ page.partner-name }} Logo" src="{{ site.baseurl }}/img/logo-partner.png" width="110"  style="display:block; padding: 5px 0 0;" border="0" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>