

<!-- EMAIL INTRO - STANDARD -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#f1f1f2" align="center" style="padding: 0 0 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>
            <!-- HERO IMAGE -->
            <table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-radius: 4px;">
              <tr>
                <td style="padding-bottom: 30px;">
                  <a href="{{ site.campaign-link }}">
                    <img src="{{ site.baseurl }}/img/main-img.jpg" width="600" border="0" alt="" style="display: block; border-top-left-radius: 4px; border-top-right-radius: 4px;" class="img-max" />
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <!-- COPY -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="padding: 0 30px 0px; font-size: 18px; line-height: 26px; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; color: #{{ site.color-text-title }}; text-transform: uppercase; letter-spacing: 2px;" class="padding-copy-header">
                        {{ page.intro-title }}
                      </td>
                    </tr>
                  </table>
                  <!-- START - bulletproof hr -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center">
                        <table align="center" width="100" border="0" cellspacing="0" cellpadding="0"  style="height:30px;">
                          <tr>
                            <td align="center"
                              style="background:none; height:15px; width:100px; margin-top:0; margin-bottom:0; margin-left:auto; margin-right:auto; padding:0; line-height:0; border-bottom: 1px solid #{{ site.color-primary }};">
                              <div style="width:100px;"></div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="background:none; height:15px; width:100px; margin:0; padding:0; line-height:0;"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- END - bulletproof hr -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    {% for intro-row in page.intro-rows %}
                    <tr>
                      <td align="left" style="{% if forloop.last %}padding: 0px 30px 30px;{% else %}padding: 0px 30px 10px;{% endif %} font-size: 14px; line-height: 20px; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 300; color: #{{ site.color-text-paragraph }}; text-align: justify;">
                        {{ intro-row.content }}
                      </td>
                    </tr>
                    {% endfor %}

                  </table>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <!-- BULLETPROOF BUTTON -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                    <tr>
                      <td align="center" style="padding: 30px 0 30px; border-top: 1px solid #ececec;">
                        <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                          <tr>
                            <td align="center">
                              <a href="{{ site.campaign-link }}" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; color: #ffffff; text-decoration: none; background-color: #{{ site.color-primary }}; border-top: 12px solid #{{ site.color-primary }}; border-bottom: 12px solid #{{ site.color-primary }}; border-left: 24px solid #{{ site.color-primary }}; border-right: 24px solid #{{ site.color-primary }}; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; display: inline-block; letter-spacing: 2px; text-transform: uppercase;">
                                {{ page.main-cta-label }}
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>