{% assign style = site.data.style %}
{% assign color = site.data.style.color %}
{% assign text = site.data.style.text %}
{% assign title = site.data.style.title %}
{% assign title-core = site.data.style.title-core %}
{% assign spacing = site.data.style.spacing %}
{% assign button = site.data.style.button %}

{% assign table = 'border="0" cellpadding="0" cellspacing="0"' %}
{% assign fluid-table = 'border="0" cellpadding="0" cellspacing="0" width="100%"' %}
{% assign responsive-table = 'border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table"' %}