<!-- One column -->

{% include _config/variables.html %}

{% assign this  = include.content %}
{% assign rows    = this.content %}
{% assign style   = this.style %}



{% assign link = page.page-link %}
{% if this.link %}
  {% assign link = this.link %}
{% endif %}

{% assign align = center %}
{% if style.align %}
  {% assign align = style.align %}
{% endif %}

{% assign bgcolor = color.background %}
{% if style.background-color %}
  {% assign bgcolor = style.background-color %}
{% endif %}

{% assign boxcolor = color.box %}
{% if style.box-color %}
  {% assign boxcolor = style.box-color %}
{% endif %}

{% assign row-gutter = "padding-bottom: 30px;" %}
{% if style.row-gutter %}
  {% assign row-gutter = "padding-bottom:" | append: style.row-gutter | append:"px;" %}
{% endif %}



<table {{fluid-table}}>
  <tr>
    <td align="center" bgcolor="{{bgcolor}}" style="{{spacing.hpad.sm}} {{row-gutter}}">
      <table {{responsive-table}}>
        <tr>
          <td>
            <table {{fluid-table}}>

              {% for row in rows %}
                {% if row.image %}
                  {% include element/image.html %}
                {% endif %}
              {% endfor %}

              <tr>
                <td bgcolor="{{boxcolor}}" style="{{spacing.boxpad.md}} background-color: #eeeeee; background-color: {{boxcolor}};" class="mobile-margin">
                  {% include module/_content/content.html %}
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>