
/*|======================================================================
  |  Offers
  |====================================================================*/

/*====== Generic offer ======*/

.offer {
  border: 1px solid $light-grey;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
