
/*|======================================================================
  |  Site styles
  |====================================================================*/




/* MOBILE STYLES */
 // small : 300px
@include bp(small){}
 // medium : 450px
@include bp(medium){}
 // large : 600px
@include bp(large){

  /* FLUID CONTENT */
  table[class*="wrapper"]{ width:100% !important; }
  table[class*="responsive-table"]{
    width: 100%!important;
    height: auto!important;
  }
  td[class*="responsive-td"]{ display: block !important; }

  img[class*="img-max"]{
    max-width: 100% !important;
    width: 100% !important;
    height:auto !important;
  }
  img[class*="border-reset"]{ border-radius: 0 !important; }

  /* HIDE ON MOBILE */
  *[class*="mobile-hide"]    { display:none !important; }

  /* GENERAL STYLES */
  td[class*="mobile-center-align"]{ text-align: center !important; }
  br[class*="desktop-break"]      { display: none; }
  td[class="logo"]{
    text-align: left;
    padding: 30px 15px !important;
  }
  img[class="logo-se"] { width: 100px; }
  img[class="logo-partner"] { width: 100px; }

}
// xlarge : 850px
@include bp(xlarge){}
