<!-- Footer -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.white}}" align="center">
      <table {{responsive-table}}>
        <tr>
          <td style="{{spacing.vpad.lg}} {{spacing.hpad.sm}}">

            <!-- Sign off message -->
            <table {{fluid-table}}>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.sm}} {{text.color.normal}}">
                  Best wishes,
                </td>
              </tr>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.xl}} {{text.color.normal}} padding-top: 1px; padding-bottom: 3px;">
                  The Secret Escapes Team
                </td>
              </tr>
              <tr>
                <td align="center" style="{{text.family}} {{text.weight}} {{text.sm}} {{text.color.normal}}">
                  Any questions? See our<a href="http://www.secretescapes.com/faq?{% include page/_amp-script/se-site-tracking.html %}" style="{{text.bold}} {{text.color.normal}} text-decoration: none;"> FAQs</a> here.
                </td>
              </tr>
            </table>

            {% include element/hr.html color=color.grey-lighter height="45" %}

            <!-- Trustpilot images -->
            <table {{fluid-table}}>
              <tr>
                <td align="center" valign="top" style="line-height: 28px;">
                  <a href="https://uk.trustpilot.com/review/www.secretescapes.com?utm_medium=Trustbox&utm_source=EmailNewsletter1" style="text-decoration:none;">
                    <img style="max-height: 18px;" alt="Human score" src="https://emailsignature.trustpilot.com/newsletter/en-GB/1/4da4e36a00006400050f7f39/text1.png" height="18" border="0">
                  </a> &nbsp;&nbsp;
                  <a href="https://uk.trustpilot.com/review/www.secretescapes.com?utm_medium=Trustbox&utm_source=EmailNewsletter1" style="text-decoration:none;">
                    <img style="max-height: 20px;" alt="Trustpilot Stars" src="https://emailsignature.trustpilot.com/newsletter/en-GB/1/4da4e36a00006400050f7f39/stars.png" height="20" border="0">
                  </a> &nbsp;&nbsp;
                  <span style="display: inline-block">
                    <a href="https://uk.trustpilot.com/review/www.secretescapes.com?utm_medium=Trustbox&utm_source=EmailNewsletter1" style="text-decoration:none;">
                      <img style="max-height: 18px;" alt="number of reviews" src="https://emailsignature.trustpilot.com/newsletter/en-GB/1/4da4e36a00006400050f7f39/text2.png" height="18" border="0">
                    </a> &nbsp;&nbsp;
                    <a href="https://uk.trustpilot.com/review/www.secretescapes.com?utm_medium=Trustbox&utm_source=EmailNewsletter1" style="text-decoration:none;">
                      <img style="max-height: 16px; display: inline-block" alt="Trustpilot Logo" src="https://emailsignature.trustpilot.com/logo/n/1/logo@2x.png" height="16" border="0">
                    </a>
                  </span>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


{% assign paragraph-space = "padding-bottom: " | append: spacing.p | append: ";" %}
{% assign text-style = text.family | append: text.color.light | append: text.sm %}
{% assign text-style-class = "text--sm" %}
{% assign link-style = text.family | append: text.bold | append: text.color.normal %}

<!-- terms & conditions -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.white}}" style="{{spacing.hpad.md}} border-top: 1px solid {{color.grey-lighter}};" class="mobile-margin">
      <table {{responsive-table}} align="center">
        <tr>
          <td style="{{spacing.vpad.xl}}">
            <table {{fluid-table}}>
              {% if page.terms-and-conditions %}
                <tr>
                  <td align="left" style="{{text-style}} {{paragraph-space}}" class="{{text-style-class}}">
                    {{page.terms-and-conditions}}
                  </td>
                </tr>
              {% endif %}
              <tr>
                <td align="left" style="{{text-style}} {{paragraph-space}}" class="{{text-style-class}}">
                  When we’re not curating luxury escapes, we like to keep an eye out for promotions we think you’ll love – like this one. This email was written by our editorial team in partnership with {{site.data.client.name}}. We hope you enjoyed it.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text-style}} {{paragraph-space}}" class="{{text-style-class}}">
                  Clicking our emails will log you into Secret Escapes. To tell friends about the sales it's best to use the share buttons on the site. To get in contact, please email us at <a href="mailto:support@secretescapes.com" style="{{link-style}} text-decoration: none;">support@secretescapes.com</a> or give us a call on <a href="tel:02078872772" style="{{link-style}} text-decoration: none;">+44 (0) 207 887 2772</a>.
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text-style}} {{paragraph-space}}" class="{{text-style-class}}">
                  England &amp; Wales Company No. <a href="#" style="{{text-style}} text-decoration: none;">07026107</a>
                </td>
              </tr>
              <tr>
                <td align="left" style="{{text-style}}" class="{{text-style-class}}">
                  This email was sent to <a href="#" style="{{link-style}} {{text.weight}} text-decoration: none;">{% include page/_amp-script/user-email.html %}.</a> <a href="http://www.secretescapes.com/your-subscriptions?{% include page/_amp-script/se-site-tracking.html %}" style="{{link-style}} text-decoration: none;">Unsubscribe here</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>