
{% if include.bgcolor %}
  {% assign bgcolor = include.bgcolor %}
{% else %}
  {% assign bgcolor = "f2f2f2" %}
{% endif %}

{% if include.theme == "dark" %}
  <!-- theme card for dark background -->
  {% assign color-text-title = "ffffff" %}
  {% assign color-text-paragraph = "ffffff" %}
  {% assign color-se-grey = "444444" %}
{% else %}
  <!-- set colours to default -->
  {% assign color-se-grey = site.data.style.color-se-grey %}
  {% assign color-text-title = site.data.style.color-text-title %}
  {% assign color-text-paragraph = site.data.style.color-text-paragraph %}
{% endif %}

{% assign loopindex = forloop.index | modulo: 2 %}

<!-- SALE CARD - SMALL -->
<table bgcolor="#{{ bgcolor }}" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" style="padding: 0 15px 30px;">
      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table" style="border-radius: 4px;">
        <tr>
          <td style="padding: 0;" class="mobile-wrapper">
            <!-- TWO COLUMNS -->
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="600" class="responsive-table">
              <tr>
                <td class="mobile-wrapper" valign="middle" style="vertical-align:middle;">
                  <!-- LEFT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="50%" class="responsive-table" style="height: 200px;" align="{% if forloop.first or loopindex == 1 %}left{% else %}right{% endif %}">
                    <tr>
                      <td style="padding: 0; vertical-align:middle;" valign="middle">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tr>
                            <td align="center" valign="middle">
                              <a href="{% if object.link %}{{ object.link }}{% else %}{{ page.campaign-link }}{% endif %}">
                                <img class="border-reset" src="{{ site.baseurl }}/img/content/{{ object.image }}" width="300" style="display: block; width: 100%; height:auto;
                                {% if forloop.first or loopindex == 1 %}border-top-left-radius: 4px; border-bottom-left-radius: 4px;{% else %}border-top-right-radius: 4px; border-bottom-right-radius: 4px;{% endif %}" alt="" border="0" class="img-max" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- RIGHT COLUMN -->
                  <table cellpadding="0" cellspacing="0" border="0" width="49.999999%" class="responsive-table" style="height: 200px; border: 1px solid #e0e0e0;" align="{% if forloop.first or loopindex == 1 %}right{% else %}left{% endif %}">
                    <tr>
                      <td style="padding: 15px 20px; vertical-align:middle;" valign="middle">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                          <tr>
                            <td align="left" style="padding: 0 0 0 0; color: #{{ site.data.style.color-text-title }}; {{ site.data.style.text-h4 }}">
                              {{ object.title }}
                            </td>
                          </tr>
                          <tr>
                            <td align="left" width="300" style="padding: 10px 0 0 0; color: #{{ site.data.style.color-text-paragraph }}; {{ site.data.style.text-p-small }}">
                              {{ object.content }}
                            </td>
                          </tr>
                          {% if object.cta %}
                          <tr>
                            <td align="left" width="300" style="padding: 15px 0 0 0;">
                              <a
                                href="{% if object.link %}{{ object.link }}{% else %}{{ page.campaign-link }}{% endif %}"
                                style="{{ site.data.style.button-small }}">
                                {% if object.cta-label %}{{ object.cta-label }}{% else %}{{ page.main-cta-label }}{% endif %}
                              </a>
                            </td>
                          </tr>
                          {% endif %}
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>