
{% include system/helpers.html %}

<!-- terms & conditions -->
<table {{table.outer}}>
  <tr>
    <td bgcolor="{{color.white}}">
      <table {{table.inner}} align="center">
        <tr>
          <td style="{{spacing.vpad.md}} {{spacing.hpad.sm}}">
            <table {{table.fluid}}>
              {% if page.terms-and-conditions %}
                <tr>
                  <td align="left" style="{{text.xs}} padding-bottom: {{spacing.p}};" class="text--xs">
                    {{page.terms-and-conditions}}
                  </td>
                </tr>
              {% endif %}
              {% for paragraph in locale.footer.legal %}
                <tr>
                  <td align="left" style="{{text.xs}}{% unless forloop.last %} padding-bottom: {{spacing.paragraph}};{% endunless %}" class="text--xs">
                    {{paragraph.paragraph}}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

