
<!-- quicklinks -->
<table {{table.outer}}>
  <tr>
    <td bgcolor="{{color.grey.darker}}">
      <table {{table.inner}}>
        <tr>
          <td align="center" style="{{text.md}} {{typography.upper}} color: {{color.white}}; {{spacing.boxpad.sm}}">
            <a href="{{site.ampscript.view-online}}" style="text-decoration: none;">{{locale.footer.quicklinks.view-online}}</a>
          </td>
          <td width="1" bgcolor="{{color.grey.dark}}"></td>
          <td align="center" style="{{text.md}} {{typography.upper}} color: {{color.white}}; {{spacing.boxpad.sm}}">
            <a href="{{locale.link.subscriptions}}{{site.ampscript.gastring}}" style="text-decoration: none;">{{locale.footer.quicklinks.fewer-emails}}</a>
          </td>
          <td width="1" bgcolor="{{color.grey.dark}}"></td>
          <td align="center" style="{{text.md}} {{typography.upper}} color: {{color.white}}; {{spacing.boxpad.sm}}">
            <a href="{{locale.link.subscriptions}}{{site.ampscript.gastring}}" style="text-decoration: none;">{{locale.footer.quicklinks.unsubscribe}}</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
