


{% if include.spacing-gutter %}
  {% assign spacing-gutter = include.spacing-gutter %}
{% else %}
  {% assign spacing-gutter = site.data.style.spacing-gutter %}
{% endif %}

{% if include.spacing-padding %}
  {% assign spacing-padding = include.spacing-padding %}
{% else %}
  {% assign spacing-padding = site.data.style.spacing-padding %}
{% endif %}

{% if include.spacing-margin %}
  {% assign spacing-margin = include.spacing-margin %}
{% else %}
  {% assign spacing-margin = site.data.style.spacing-margin %}
{% endif %}

{% if include.spacing-content %}
  {% assign spacing-content = include.spacing-content %}
{% else %}
  {% assign spacing-content = site.data.style.spacing-content %}
{% endif %}



{% if include.theme == 'dark' %}
  {% assign bordercolor = site.data.style.color-bordercolor-dark %}
  {% assign hrcolor = site.data.style.color-hrcolor-dark %}
  {% assign color-text-title = site.data.style.color-text-title-dark %}
  {% assign color-text-paragraph = site.data.style.color-text-paragraph-dark %}
  {% assign button-large = site.data.style.button-large-invert %}
  {% assign button = site.data.style.button-small-invert %}
  {% assign button-subtle = site.data.style.button-subtle-invert %}
{% else %}
  {% assign bordercolor = site.data.style.color-bordercolor %}
  {% assign hrcolor = site.data.style.color-hrcolor %}
  {% assign color-text-title = site.data.style.color-text-title %}
  {% assign color-text-paragraph = site.data.style.color-text-paragraph %}
  {% assign button-large = site.data.style.button-large %}
  {% assign button = site.data.style.button-small %}
  {% assign button-subtle = site.data.style.button-subtle %}
{% endif %}



{% if include.bgcolor %}
  {% assign bgcolor = include.bgcolor %}
{% else %}
  {% assign bgcolor = site.data.style.color-bgcolor %}
{% endif %}

{% if include.boxcolor %}
  {% assign boxcolor = include.boxcolor %}
{% else %}
  {% assign boxcolor = site.data.style.color-boxcolor %}
{% endif %}

{% if include.bordercolor %}
  {% assign bordercolor = include.bordercolor %}
{% else %}
  {% assign bordercolor = site.data.style.color-bordercolor %}
{% endif %}

{% if include.hrcolor %}
  {% assign hrcolor = include.hrcolor %}
{% else %}
  {% assign hrcolor = site.data.style.color-hrcolor %}
{% endif %}

{% if include.align %}
  {% assign align = include.align %}
{% else %}
  {% assign align = "center" %}
{% endif %}


