

{% if include.button-style == "outline" %}
  {% assign button-outline = site.data.style.button-outline.outside %}
  {% assign button-style = site.data.style.button-outline.inside %}
{% elsif include.button-style == "outline-invert" %}
  {% assign button-outline = site.data.style.button-outline-invert.outside %}
  {% assign button-style = site.data.style.button-outline-invert.inside %}

{% elsif include.button-style == "large" %}
  {% assign button-style = site.data.style.button-large %}
{% elsif include.button-style == "large-invert" %}
  {% assign button-style = site.data.style.button-large-invert %}
{% elsif include.button-style == "small" %}
  {% assign button-style = site.data.style.button-small %}
{% elsif include.button-style == "small-invert" %}
  {% assign button-style = site.data.style.button-small-invert %}
{% elsif include.button-style == "subtle" %}
  {% assign button-style = site.data.style.button-subtle %}
{% elsif include.button-style == "subtle-invert" %}
  {% assign button-style = site.data.style.button-subtle-invert %}
{% else %}
  {% assign button-style = site.data.style.button-small-invert %}
{% endif %}


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-radius: 4px;">

  <tr>
    <td align="{{ align }}" style="padding: 0 {{spacing-padding | times:2}}px;">

      {% if include.button-style == "outline" or include.button-style == "outline-invert" %}
      <span style="{{ button-outline }}">
      {% endif %}

        <a class="button button-{{ include.button-style }}" href="{% if object.link %}{{ object.link }}{% else %}{{ page.campaign-link }}{% endif %}" style="{{ button-style }}">
          {% if object.button-label %}
            {{ object.button-label }}
          {% elsif include.button-label %}
            {{ include.button-label }}
          {% else %}
            {{ page.main-button-label }}
          {% endif %}
        </a>

      {% if include.button-style == "outline" or include.button-style == "outline-invert" %}
      </span>
      {% endif %}

    </td>
  </tr>

</table>