{% if include.height %} {% assign hr-height = include.height %} {% else %} {% assign hr-height = "30" %} {% endif %}
{% assign hr-height-split = hr-height | divided_by: 2 | append: 'px' %}
{% assign hr-width = "100px" %}
{% assign hr-color = include.color %}

<!-- horizontal rule -->
<table {{fluid-table}}>
  <tr>
    <td>
      <table {{table}} style="height: {{hr-height-split}};">
        <tr>
          <td style="height: {{hr-height-split}}; width: {{hr-width}}; border-bottom: 1px solid {{hr-color}};">
            <div style="{{hr-width}}"></div>
          </td>
        </tr>
        <tr>
          <td style="height:{{hr-height-split}}; width: {{hr-width}};"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>