{% assign button-label = include.label %}
{% assign button-link = include.link %}
{% assign button-style = include.style %}
{% if include.align %}{% assign button-align = include.align %}{% else %}{% assign button-align = "center" %}{% endif %}


<!-- Call to action button -->
<table {{fluid-table}}>  <!-- style="border-radius: 4px;" - border radius goes here, should have a global option -->
  <tr>
    <td align="{{button-align}}">
      <a href="{{button-link}}" style="{{text.family}} {{button-style}} {{button.default}} text-align: center;">
        {{button-label}}
      </a>
    </td>
  </tr>
</table>