
{% if include.paragraph-style == "lead" %}
  {% assign paragraph-style = site.data.style.text-p-lead %}
{% elsif include.paragraph-style == "small" %}
  {% assign paragraph-style = site.data.style.text-p-small %}
{% elsif include.paragraph-style == "em" %}
  {% assign paragraph-style = site.data.style.text-p-em %}
{% else %}
  {% assign paragraph-style = site.data.style.text-p %}
{% endif %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">

  {% if object.content-rows %}
    {% for sub_object in object.content-rows %}

      <tr>
        <td class="paragraph{% if include.paragraph-style %} paragraph-{{ include.paragraph-style }}{% endif %}" align="{{ align }}" style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content}}px; color: #{{ color-text-paragraph }}; {{ paragraph-style }}">
          {{ sub_object.content }}
        </td>
      </tr>

    {% endfor %}
  {% elsif object.content %}

    <tr>
      <td class="paragraph{% if include.paragraph-style %} paragraph-{{ include.paragraph-style }}{% endif %}" align="{{ align }}" style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content}}px; color: #{{ color-text-paragraph }}; {{ paragraph-style }}">
        {{ object.content }}
      </td>
    </tr>

  {% endif %}

</table>
