
{% if include.bgcolor %}
  {% assign bgcolor = include.bgcolor %}
{% else %}
  {% assign bgcolor = "f2f2f2" %}
{% endif %}

{% if include.theme == "dark" %}
  <!-- theme card for dark background -->
  {% assign color-text-title = "ffffff" %}
  {% assign color-text-paragraph = "ffffff" %}
  {% assign color-se-grey = "444444" %}
{% else %}
  <!-- set colours to default -->
  {% assign color-se-grey = site.data.style.color-se-grey %}
  {% assign color-text-title = site.data.style.color-text-title %}
  {% assign color-text-paragraph = site.data.style.color-text-paragraph %}
{% endif %}


<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#{{ bgcolor }}" align="center" style="padding: 0 15px 30px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td bgcolor="#f2f2f2">

            <!-- PAGE SUPER TITLE -->
            {% if include.super-title %}
            <table bgcolor="#{{ site.data.style.color-se-black }}" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="padding: 15px; color: #ffffff; {{ site.data.style.text-h2 }}" class="padding-copy-header">
                        {{ include.super-title }}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            {% endif %}

            {% if include.image %}
            <!-- HERO IMAGE -->
            <table style="border-radius: 4px;" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <a href="{% if include.link %}{{ include.link }}{% else %}{{ page.campaign-link }}{% endif %}">
                    <img src="{{ site.baseurl }}/img/content/{{ include.image }}" width="600" border="0" alt="" style="display: block; {% unless include.super-title %}border-top-left-radius: 4px; border-top-right-radius: 4px;{% endunless %}" class="img-max" />
                  </a>
                </td>
              </tr>
              {% if include.image-caption %}
              <tr>
                <td align="center" bgcolor="#{{ color-se-extralight-orange }}" style="padding: 10px 30px; {{ site.data.style.text-h5 }} color: #{{ color-text-title }};" class="padding-copy-header">
                  {{ include.image-caption }}
                </td>
              </tr>
              {% endif %}
            </table>
            {% endif %}

            <table bgcolor="{% if include.theme == 'dark' %}#{{ site.data.style.color-se-black }}{% else %}#ffffff{% endif %}" style="{% if include.image %}border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;{% else %}border-radius: 4px;{% endif %} {% unless include.theme == 'dark' %}{% unless include.image %}border-top: 1px solid #e0e0e0;{% endunless %}border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;{% endunless %}" width="100%" border="0" cellspacing="0" cellpadding="0">
              <!-- COPY -->
              <tr>
                <td style="padding: 30px 0;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    {% if include.title %}
                    <tr>
                      <td align="center" style="padding: 0 30px 5px; {{ site.data.style.text-h1 }} color: #{{ color-text-title }};" class="padding-copy-header">
                        {{ include.title }}
                      </td>
                    </tr>
                    {% endif %}
                    {% if include.subtitle %}
                    <tr>
                      <td align="center" style="padding: 0 30px; font-size: 14px; font-weight:400; {{ site.data.style.text-h2 }} color: #{{ color-text-title }};" class="padding-copy-header">
                        {{ include.subtitle }}
                      </td>
                    </tr>
                    {% endif %}
                  </table>

                  {% if include.title or include.subtitle %}
                  {% if include.content or include.content-rows %}
                  <!-- START - bulletproof hr -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center">
                        <table align="center" width="100" border="0" cellspacing="0" cellpadding="0"  style="height:30px;">
                          <tr>
                            <td align="center"
                              style="background:none; height:15px; width:100px; margin-top:0; margin-bottom:0; margin-left:auto; margin-right:auto; padding:0; line-height:0; border-bottom: 1px solid #{{ color-se-grey }};">
                              <div style="width:100px;"></div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="background:none; height:15px; width:100px; margin:0; padding:0; line-height:0;"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- END - bulletproof hr -->
                  {% endif %}
                  {% endif %}

                  <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    {% if include.content %}
                    <tr>
                      <td align="left" style="padding: 0 30px 10px; color: #{{ color-text-paragraph }}; {{ site.data.style.text-p }}">
                        {{ include.content }}
                      </td>
                    </tr>
                    {% endif %}

                    {% if include.cta %}
                    <tr>
                      <td align="left" style="padding: 20px 30px 0; text-align: center" class="mobile-pad-3c mobile-center-align">
                        <a
                          href="{% if include.link %}{{ include.link }}{% else %}{{ page.campaign-link }}{% endif %}"
                          style="{{ site.data.style.button-large }}">
                          {% if include.cta-label %}{{ include.cta-label }}{% else %}{{ page.main-cta-label }}{% endif %}
                        </a>
                      </td>
                    </tr>
                    {% endif %}

                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

