
{% if include.bgcolor %}
  {% assign bgcolor = include.bgcolor %}
{% else %}
  {% assign bgcolor = "f2f2f2" %}
{% endif %}

<!-- IMAGE BLOCK -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#{{ bgcolor }}" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-radius: 4px;">

              <tr>
                <td>
                  <img src="{{ site.baseurl }}/img/content/{{ include.class }}.jpg" width="600" border="0" alt="" style="display: block;" class="img-max border-reset" />
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>