


{% if text-style == "xl" %}
  {% assign text-style = text.text-xl %}
  {% assign text-class = "text--xl" %}

{% elsif text-style == "lg" %}
  {% assign text-style = text.text-lg %}
  {% assign text-class = "text--lg" %}

{% elsif text-style == "md" %}
  {% assign text-style = text.text-md %}
  {% assign text-class = "text--md" %}

{% elsif text-style == "sm" %}
  {% assign text-style = text.text-sm %}
  {% assign text-class = "text--sm" %}

{% elsif text-style == "xs" %}
  {% assign text-style = text.text-xs %}
  {% assign text-class = "text--xs" %}

{% else %}
  {% assign text-style = text.text %}
  {% assign text-class = "text" %}

{% endif %}



{% if theme == "dark" %}
  {% assign text-style = text-style | append: text.color.white %}
{% endif %}


