<!-- Logo hr -->
<tr>
  <td width="179" align="right" valign="middle" style="font-size: 0;"> <!-- 0 font size allows vertical align in outlook -->
    <img class="logo-icon__line" src="http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..line.png" width="179" style="display:block;" border="0" />
  </td>
  <td width="30"></td>
  <td width="30">
    <a href="{{locale.link.current-sales}}{{site.ampscript.gastring}}">
      <img src="http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..logo-icon.png" width="30" style="display:block;" border="0" alt="Secret Escapes Icon" />
    </a>
  </td>
  <td width="30"></td>
  <td width="179" align="left" valign="middle" style="font-size: 0;"> <!-- 0 font size allows vertical align in outlook -->
    <img class="logo-icon__line" src="http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..line.png" width="179" style="display:block;" border="0" />
  </td>
</tr>