<!-- element/logo/secret-escapes.html -->

{% if include.logo-theme == "light" %}
  {% assign image = "se20..logo-wh" %}
{% else %}
  {% assign image = "se20..logo" %}
{% endif %}

{% assign class = "logo-se" %}

{% if include.size == "sm" %}
  {% assign width = "110" %}
  {% assign image = image | append: "-sm.png" %}
  {% assign class = class | append: "-sm" %}
{% elsif include.size == "md" %}
  {% assign width = "140" %}
  {% assign image = image | append: "-md.png" %}
  {% assign class = class | append: "-md" %}
{% elsif include.size == "lg" %}
  {% assign width = "180" %}
  {% assign image = image | append: "-lg.png" %}
  {% assign class = class | append: "-lg" %}
{% else %}
  {% assign width = "140" %}
  {% assign image = image | append: "-md.png" %}
{% endif %}

<a href="{{locale.link.current-sales}}{{site.ampscript.gastring}}" style="{{text.md}}">
  <img class="{{class}}" alt="Secret Escapes Logo" src="http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/{{image}}" width="{{width}}" style="display:block; padding-top: 5px;" />
</a>