
/*
  if SCREEN WIDTH less than LG BREAKPOINT
*/

table[class*="responsive-table-lg"]{
  width: 100%!important;
  height: auto!important;
}
td[class*="responsive-td-lg"]{
  width: 100%!important;
  height: auto!important;
}

img[class*="img-max"]{
  max-width: 100% !important;
  width: 100% !important;
  height:auto !important;
}

td[class="hero__link"]{ height: 300px !important; }

///////////////////////// LOGOS

img[class="logo-se-lg"]    { width: 170px; }
img[class="logo-se-md"]    { width: 135px; }
img[class="logo-se-sm"]    { width: 110px; }
img[class="logo-se"]       { width: 135px; }
img[class="logo-partner"]  { width: 100px; }

///////////////////////// CONTENT

*[class*="mobile-hide"]          { display:none !important; } // this is for the gmail hack at the end of the html
td[class*="mobile-center-align"] { text-align: center !important; }

///////////////////////// TYPOGRAPHY

td[class*="text"]      { font-size: 14px !important; line-height: 21px !important; }
td[class*="text-xxxl"] { font-size: 16px !important; line-height: 24px !important; }
td[class*="text-xxl"]  { font-size: 16px !important; line-height: 24px !important; }
td[class*="text-xl"]   { font-size: 16px !important; line-height: 24px !important; }
td[class*="text-lg"]   { font-size: 14px !important; line-height: 21px !important; }
td[class*="text-md"]   { font-size: 12px !important; line-height: 18px !important; }
td[class*="text-sm"]   { font-size: 12px !important; line-height: 18px !important; }
td[class*="text-xs"]   { font-size: 12px !important; line-height: 18px !important; }

td[class*="title"]      { font-size: 16px !important; line-height: 22px !important; }
td[class*="title-xxxl"] { font-size: 30px !important; line-height: 36px !important; }
td[class*="title-xxl"]  { font-size: 27px !important; line-height: 32px !important; }
td[class*="title-xl"]   { font-size: 24px !important; line-height: 28px !important; }
td[class*="title-lg"]   { font-size: 18px !important; line-height: 24px !important; }
td[class*="title-md"]   { font-size: 16px !important; line-height: 22px !important; }
td[class*="title-sm"]   { font-size: 16px !important; line-height: 22px !important; }
td[class*="title-xs"]   { font-size: 16px !important; line-height: 22px !important; }

a[class*="button"] {
  font-size: 12px !important; line-height: 12px !important;
  border-top-width: 12px !important; border-bottom-width: 12px !important;
  border-left-width: 24px !important; border-right-width: 24px !important;
}

