
/*
  if SCREEN WIDTH less than LG BREAKPOINT
*/

table[class*="responsive-lg"]{
  width: 100%!important;
  max-width: 100%!important;
  height: auto!important;
}
div[class*="responsive-lg"]{
  width: 100%!important;
  max-width: 100%!important;
  height: auto!important;
}
td[class*="responsive-lg"]{
  width: 100%!important;
  max-width: 100%!important;
  height: auto!important;
}
img[class*="responsive-lg"]{
  width: 100% !important;
  max-width: 100% !important;
  height:auto !important;
  // border-radius: 0 !important;
}


///////////////////////// HEIGHT OF BG IMAGES

td[class="hero__link"]{ height: 300px !important; }
td[class="header__image-content"]{ border-radius: 0 !important; box-shadow: none !important; }

///////////////////////// CONTENT

*[class*="mobile-hide"]          { display:none !important; } // this is for the gmail hack at the end of the html
td[class*="mobile-center-align"] { text-align: center !important; }

///////////////////////// ROUNDED CORNER SWAP

*[class*="rounded-top"]{}
*[class*="rounded-bottom"]{}
*[class*="rounded-left"]{ border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 0px !important; }
*[class*="rounded-right"]{ border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px !important; }