
/*
  if SCREEN WIDTH less than XL BREAKPOINT
*/

table[class*="responsive-xl"]{
  width: 100%!important;
  height: auto!important;
}
div[class*="responsive-xl"]{
  width: 100%!important;
  max-width: 100%!important;
  height: auto!important;
}
td[class*="responsive-xl"]{
  width: 100%!important;
  max-width: 100%!important;
  height: auto!important;
}
img[class*="responsive-xl"]{
  max-width: 100% !important;
  width: 100% !important;
  height:auto !important;
  border-radius: 0 !important;
}


