<table {{fluid-table}}>

  <!-- offer image -->
  <tr>
    <td align="left">
      <a href="{{offer.link}}">
        <img src="{% include element/offer/image.html image=offer.image %}" border="0" width="600" style="display: block;" class="img-max" />
      </a>
    </td>
  </tr>

  <!-- offer content -->
  <tr>
    <td align="left" bgcolor="{{color.white}}" style="{{spacing.boxpad.md}}" class="offer-one-column-boxpad">
      <table {{fluid-table}}>

        <!-- title -->
        <tr>
          <td align="left" colspan="3" style="{{title-core.family}} {{title-core.color.normal}} {{title-core.lg}} {{title-core.weight}} padding-bottom: 10px;" class="title-core--lg">
            {{offer.title}}
          </td>
        </tr>

        <!-- offer location -->
        <tr>
          <td align="left" colspan="3" style="padding-bottom: 12px;">
            <table {{fluid-table}}>
              <tr>
                <!-- map pin icon -->
                <td align="left" valign="middle" width="20">
                  <img src="http://image.email.secretescapes.com/lib/fe91127277660c7b71/m/8/se19..pin.png" border="0" width="12" height="16" style="display: inline-block;">
                </td>
                <!-- location text -->
                <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.bold}} {{text.upper}} {{text.wide-kern}} line-height: 16px;" class="text--sm">
                  {{offer.location}}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- description -->
        <tr>
          <td align="left" colspan="3" style="{{text.family}} {{text.color.light}} {{text.md}} {{text.weight}} padding-bottom: 15px;" class="text--sm offer-one-column-description">
            {{offer.description}}
          </td>
        </tr>

        <tr><!-- using <th> in this row as iOS wont allow display block on <td> -->
          <!-- percentage saving -->
          <th width="109" align="left" valign="middle" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}} border-right: 1px solid {{color.grey-lighter}};" class="text--sm offer-one-column-th offer-one-column-percent">
            save up to <span style="{{title-core.color.orange}} {{title-core.md}}">{{offer.saved}}%</span>
          </th>
          <!-- price -->
          <th width="250" align="left" valign="middle" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}} padding-left: 15px; padding-right: 5px;" class="text--sm offer-one-column-th offer-one-column-price">
            From <span style="{{title-core.color.orange}} {{title-core.md}}">£{{offer.price}}</span> {{offer.price-description}}
          </th>
          <!-- cta button -->
          <th width="160" valign="middle" class="offer-one-column-th">
            {% include element/button.html link=offer.link label="View Offer" style=button.orange size=button.size.sm class="button--md" align-class="offer-one-column-button" align="right" %}
          </th>
        </tr>

      </table>
    </td>
  </tr>

</table>