---
layout: default
---

{% include variables.html %}

{% if page.intro.link %} {% assign intro-link = page.intro.link %} {% else %} {% assign intro-link = page.link %} {% endif %}
{% if page.intro.cta-label %} {% assign cta-label = page.intro.cta-label %} {% else %} {% assign cta-label = page.cta-label %} {% endif %}
{% assign title-style = title.family | append: title.color.normal | append: title.xl | append: title.weight %}
{% assign title-style-class = "title--xl" %}
{% assign text-style = text.family | append: text.color.light | append: text.md | append: text.weight %}
{% assign text-style-class = "text--md" %}

{% include layout/client/header.html %}

<!-- Main introduction -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.grey-lightest}}" style="{{spacing.hpad.sm}} padding-bottom: 80px;">
      <table {{responsive-table}}>
        <tr>
          <td>

            <!-- Intro section -->
            <table {{fluid-table}}>
              <!-- Main image -->
              <tr>
                <td>
                  <a href="{{intro-link}}">
                    <img class="img-max" src="{% include img-pre.html type="C" name=page.intro.image %}" width="600" border="0" style="display: block;" />
                  </a>
                </td>
              </tr>

              <!-- Intro content -->
              <tr>
                <td bgcolor="{{color.white}}" style="{{spacing.boxpad.md}}" class="mobile-margin">
                  <table {{fluid-table}}>

                    <!-- title -->
                    <tr>
                      <td align="center" style="{{title-style}} padding-bottom: {{spacing.title}};" class="{{title-style-class}}">
                        {{page.intro.title}}
                      </td>
                    </tr>

                    <!-- content -->
                    {% if page.intro.content-rows %}
                      {% for row in page.intro.content-rows %}
                      <tr>
                        <td align="center" style="{{text-style}} {% unless forloop.index == 1 %}padding-top: {{spacing.p}};{% endunless %}" class="{{text-style-class}}">
                          {{row.content}}
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td align="center" style="{{text-style}}" class="{{text-style-class}}">
                          {{page.intro.content}}
                        </td>
                      </tr>
                    {% endif %}

                    <!-- call to action -->
                    <tr>
                      <td style="padding-top: 20px;">
                        {% include element/button.html link=intro-link label=cta-label style=button.partner %}
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
            </table>


            {% include element/space.html height="60" %}


            <!-- feature section -->
            <table {{fluid-table}}>
              <tr>
                <td>

                  {% for feature in page.features.feature-list %}

                    {% assign odd-or-even = forloop.index | modulo: 2 %}
                    {% if odd-or-even == 1 %}
                      {% assign image-align = "left" %}
                      {% assign content-align = "right" %}
                    {% elsif odd-or-even == 0 %}
                      {% assign image-align = "right" %}
                      {% assign content-align = "left" %}
                    {% endif %}

                    {% if feature.link %}
                      {% assign feature-link = feature.link %}
                    {% elsif page.features.link %}
                      {% assign feature-link = page.features.link %}
                    {% else %}
                      {% assign feature-link = page.link %}
                    {% endif %}

                    {% if feature.cta-label %}
                      {% assign feature-cta-label = feature.cta-label %}
                    {% elsif page.features.cta-label %}
                      {% assign feature-cta-label = page.features.cta-label %}
                    {% else %}
                      {% assign feature-cta-label = page.cta-label %}
                    {% endif %}

                    {% assign feature-title-style = title.family | append: title.color.normal | append: title.lg | append: title.weight %}
                    {% assign feature-title-style-class = "title--lg" %}
                    {% assign feature-text-style = text.family | append: text.color.light | append: text.sm | append: text.weight %}
                    {% assign feature-text-style-class = "text--sm" %}
                    {% assign feature-height = page.features.image.height %}

                    <!-- feature -->
                    <table {{responsive-table}}>
                      <tr>
                        <td{% if page.features.space-between and forloop.index != 1 %} style="padding-top: {{page.features.space-between}}px;"{% endif %}>

                          <!-- column wrap -->
                          <table {{responsive-table}}>
                            <tr>
                              <td valign="middle">

                                <!-- image-column -->
                                <table {{table}} class="responsive-table" align="{{image-align}}" width="50%" height="{{feature-height}}">
                                  <tr>
                                    <td align="center" valign="middle">
                                      <!-- feature image -->
                                      <a href="{{feature-link}}">
                                        <img class="img-max" src="{% include img-pre.html type="C" name=feature.image %}" width="{{page.features.image.width}}" height="{{page.features.image.height}}" style="display: block;" border="0" />
                                      </a>
                                    </td>
                                  </tr>
                                </table>

                                <!-- content-column -->
                                <table {{table}} class="responsive-table" align="{{content-align}}" width="49.999999%" height="{{feature-height}}" bgcolor="{{color.white}}">
                                  <tr>
                                    <td align="left" valign="middle" style="{{spacing.hpad.sm}} {{spacing.vpad.md}}">
                                      <table {{fluid-table}}>
                                        <!-- feauture title -->
                                        <tr>
                                          <td style="{{feature-title-style}}" class="{{feature-title-style-class}}">
                                            {{feature.title}}
                                          </td>
                                        </tr>
                                        <!-- feauture content -->
                                        <tr>
                                          <td style="{{feature-text-style}} padding-top: 8px;" class="{{feature-text-style-class}}">
                                            {{feature.content}}
                                          </td>
                                        </tr>
                                        <!-- feauture call-to-action -->
                                        <tr>
                                          <td style="padding-top: 10px;">
                                            {% include element/button.html link=feature-link label=feature-cta-label style=button.partner-light size=button.size.sm align="left" class="button--sm" %}
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>

                              </td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  {% endfor %}

                </td>
              </tr>
            </table>


            <!-- call to action -->
            <table>
              <tr>
                <td style="padding-top: 60px;">
                  {% include element/button.html link=intro-link label=cta-label style=button.partner %}
                </td>
              </tr>
            </table>


          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


{% include layout/client/footer.html %}