---
layout: default
---

{% include variables.html %}

{% if page.intro.link %} {% assign intro-link = page.intro.link %} {% else %} {% assign intro-link = page.link %} {% endif %}
{% if page.intro.cta-label %} {% assign cta-label = page.intro.cta-label %} {% else %} {% assign cta-label = page.cta-label %} {% endif %}
{% assign title-style = title.family | append: title.color.normal | append: title.xl | append: title.weight %}
{% assign title-style-class = "title--xl" %}
{% assign text-style = text.family | append: text.color.light | append: text.md | append: text.weight %}
{% assign text-style-class = "text--md" %}

{% include layout/client/header.html %}

<!-- Main introduction -->
<table {{fluid-table}}>
  <tr>
    <td align="center" bgcolor="{{color.grey-lightest}}" style="padding-bottom: 90px;" class="mobile-margin">
      <table {{responsive-table}}>
        <tr>
          <td>
            <table {{fluid-table}}>

              <!-- Main image -->
              <tr>
                <td>
                  <a href="{{intro-link}}">
                    <img class="img-max" src="{% include img-pre.html type="C" name=page.intro.image %}" width="600" border="0" style="display: block;" />
                  </a>
                </td>
              </tr>

              <!-- Intro content -->
              <tr>
                <td bgcolor="{{color.white}}" style="{{spacing.boxpad.md}}" class="mobile-margin">
                  <table {{fluid-table}}>

                    <!-- title -->
                    <tr>
                      <td align="center" style="{{title-style}} padding-bottom: {{spacing.title}};" class="{{title-style-class}}">
                        {{page.intro.title}}
                      </td>
                    </tr>

                    <!-- content -->
                    {% if page.intro.content-rows %}
                      {% for row in page.intro.content-rows %}
                      <tr>
                        <td align="center" style="{{text-style}} {% unless forloop.index == 1 %}padding-top: {{spacing.p}};{% endunless %}" class="{{text-style-class}}">
                          {{row.content}}
                        </td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td align="center" style="{{text-style}}" class="{{text-style-class}}">
                          {{page.intro.content}}
                        </td>
                      </tr>
                    {% endif %}

                    <tr>
                      <td>
                        {% include element/space.html height="30" %}
                      </td>
                    </tr>

                    <!-- promo code -->
                    <tr>
                      <td align="center" style="{{text.family}} {{text.color.light}} {{text.xl}} {{text.weight}}" class="text--xl">
                        {{page.intro.promo.pre}}
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="{{spacing.vpad.xs}}">
                        <table {{fluid-table}} style="border: 1px solid {{color.partner}};">
                          <tr>
                            <td align="center" style="{{text.family}} {{text.color.dark}} {{text.xl}} {{text.bold}} {{text.wide-kern}} {{spacing.boxpad.sm}}" class="text--xl">
                              {{page.intro.promo.code}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}}" class="text--sm">
                        {{page.intro.promo.post}}
                      </td>
                    </tr>

                    <!-- call to action -->
                    <tr>
                      <td style="padding-top: 20px;">
                        {% include element/button.html link=intro-link label=cta-label style=button.partner %}
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


{% include layout/client/footer.html %}