<!-- %%[
/* ......................... Google Analytics Variables ......................... */
Set @user= [_SubscriberKey]
Set @territory='UK'
Set @CampaignCode = emailname_
Set @Email = [email]
Set @EncEmail = SHA1(LowerCase([email]),"UTF-8")
Set @Reference = AttributeValue("reference")
Set @JobID = jobid
Set @CampaignName = emailname_
Set @now = FormatDate(Now(), "YYYY-MM-DD", "", "en-US")
Set @authToken = concat(Base64Encode(@email), ".", @reference, ".", @now)
Set @encData=EncryptSymmetric(@authToken, "des;mode=ecb;padding=pkcs7", "EmailEncryptionKey", @null, @null, @null, @null, @null)
Set @encData = replace(@encData, "+", "-")
Set @encData = replace(@encData, "/", "_")

Set @gaMedium = "email"
Set @gaSource = "media-campaign"
Set @gaCampaign = @CampaignName
Set @gaContent = @JobID

SET @gaString = Lowercase(concat("&utm_medium=",@gaMedium,"&utm_source=",@gaSource,"&utm_campaign=",@gaCampaign,"&utm_content=",@gaContent))
SET @gaString = concat("auth=",@encData, @gaString)
]%% -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

  <head>
    {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
