<!--
%%[
/* ......................... Google Analytics Variables ......................... */
Set @user= [_SubscriberKey]
Set @territory='UK'
Set @CampaignCode = emailname_
Set @Email = URLEncode([email],1,1)
Set @Email = Replace(@Email,"%40","@")
Set @EncEmail = SHA1(LowerCase([email]),"UTF-8")
Set @Reference = AttributeValue("reference")
Set @JobID = jobid
Set @CampaignName = emailname_
Set @gaMedium = "Hub"
Set @gaSource = "SE"
Set @gaCampaign = concat(@JobID,"_",@CampaignName)
Set @gaString = Lowercase(concat("email=",@email,"&code=",@reference,"&utm_medium=",@gaMedium,"&utm_source=",@gaSource,"&utm_campaign=",@gaCampaign))
]%%
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>

    {% include head.html %}

  </head>

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
