


<!-- OFFER TITLE -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="title" align="left" style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content}}px; color: #{{ color-text-title }}; {{ site.data.style.se-text-h3 }}">
      {{ object.title }}
    </td>
  </tr>
</table>



<!-- LOCATION -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content}}px;">
      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" width="20">
            <img src="{% include img-pre.html name='pin.png' %}" border="0" alt="" width="12" height="16" style="display: inline-block; vertical-align: middle;">
          </td>

          <td align="left" style="{{ site.data.style.se-text-h6 }} color: #{{ color-text-paragraph }};">
            {{ object.location }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<!-- CONTENT -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="paragraph" align="left" style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content | divided_by:2}}px; color: #{{ color-text-paragraph }}; {{ site.data.style.se-text-p-small }}">
      {{ object.content }}
    </td>
  </tr>
</table>



<!-- FROM PRICE -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" style="padding: 0 {{spacing-padding | times:2}}px {{spacing-content}}px; color: #{{ color-text-paragraph }}; {{ site.data.style.se-text-p-small }}">
      From <span style="color: #{{ site.data.style.color-se-orange }}; {{ site.data.style.se-text-h3 }}">£{{ object.price }}</span> {{ object.price-description }}
    </td>
  </tr>
</table>



<!-- BUTTON -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" style="padding: 0 {{spacing-padding | times:2}}px;">
      <a class="button button--outline" href="{% if object.link %}{{ object.link }}{% else %}{{ page.campaign-link }}{% endif %}" style="{{ site.data.style.se-button }}">
        View offer
      </a>
    </td>
  </tr>
</table>
