
{% include _config/variables.html %}

{% if forloop.first %}
<!-- Offers -->
<table {{fluid-table}}>
  <tr>
    <td bgcolor="{{color.background}}" align="center" class="mobile-margin" style="{{spacing.hpad.sm}}">
{% endif %}

      {% if include.layout == "one-column" %}
        {% include offers/one-column.html %}
      {% elsif include.layout == "two-column" %}
        {% include offers/two-column.html %}
      {% else %}
        {% include offers/two-column.html %}
      {% endif %}

{% if forloop.last %}
    </td>
  </tr>
</table>
{% endif %}
