
{% assign row-gutter = 30 %}

<!-- column content -->
<table {{responsive-table}}>
  <tr>
    <td style="padding-bottom: {{row-gutter}}px;">
      <table {{fluid-table}}>

        <!-- offer image -->
        <tr>
          <td align="left">
            <a href="{{offer.link}}{% include tracking/url-tracking.html %}">
              <img src="{{offer.image}}" border="0" alt="{{offer.title}}" width="600" style="display: block;" class="img-max" />
            </a>
          </td>
        </tr>

        <!-- offer content -->
        <tr>
          <td align="left" bgcolor="{{color.white}}" style="{{spacing.boxpad.md}}" class="offer-one-column-boxpad">

            {% include offers/content/title.html size="title-lg" %}
            {% include element/location.html location=offer.location %}
            {% include element/paragraph.html paragraph=offer.description align="left" %}

            <table {{fluid-table}}>
              <tr><!-- using <th> in this row as iOS wont allow display block on <td> -->
                {% if offer.saved %}
                <!-- percentage saving -->
                <th width="109" align="left" valign="middle" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}} border-right: 1px solid {{color.grey-lighter}};" class="text--sm offer-one-column-th offer-one-column-percent">
                  save up to <span style="{{title-core.color.orange}} {{title-core.md}}">{{offer.saved}}%</span>
                </th>
                {% endif %}
                <!-- price -->
                <th width="250" align="left" valign="middle" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}}  padding-right: 5px;{% if offer.saved %} padding-left: 15px;{%endif%}" class="text--sm offer-one-column-th offer-one-column-price">
                  From <span style="{{title-core.color.orange}} {{title-core.md}}">£{{offer.price}}</span> {{offer.price-description}}
                </th>
                <!-- cta button -->
                <th width="160" valign="middle" align="right" class="offer-one-column-th">
                  {% include element/button.html style="orange" size="xs" label="View offer" link=offer.link align="right" %}
                </th>
              </tr>

            </table>
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>