


{% if forloop.first %}
<!--
TWO COLUMNS
Two column layout that rearranges to single column for mobile.
-->
{% endif %}


{% include elements/_settings.html %}


{% unless include.spacing-padding %} {% assign spacing-padding = '10' %} {% endunless %}


{% assign loopindex = forloop.index | modulo: 2 %}
{% if forloop.first or loopindex == 1 %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#{{ bgcolor }}" align="center" style="padding: 0 {{spacing-gutter}}px;">
      <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td>

{% endif %}

<table align="{% if loopindex == 1 %}left{% else %}right{% endif %}" border="0" cellspacing="0" cellpadding="0" class="responsive-table" width="285">
  <tr>
    <td style="padding-bottom: {% if forloop.last %}{{spacing-margin | times:3}}px{% else %}{{spacing-margin | times:2}}px{% endif %};">
      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        {% if object.image %}
        <tr>
          <td>
            <a href="{% if object.link %}{{ object.link }}{% else %}{{ page.campaign-link }}{% endif %}">

              <img src="{% include img-pre.html type='O' name=object.image %}" border="0" alt="" width="285" style="display: block; border-top-left-radius: 4px; border-top-right-radius: 4px;" class="img-max border-reset" />

            </a>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td style="background-color: #{{ boxcolor }}; padding: {{spacing-padding | times:2}}px 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;{% unless object.image %}border-top-left-radius: 4px; border-top-right-radius: 4px;{% endunless %}">

            {% include offers/content.html %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



{% if forloop.last or loopindex != 1 %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endif %}
