
{% assign row-width = 600 %}
{% assign column-gutter = 30 %}
{% assign row-gutter = 30 %}
{% assign column-width = row-width | minus: column-gutter | divided_by: 2 %}

{% assign odd-or-even = forloop.index | modulo: 2 %}
{% if forloop.last and odd-or-even == 1 %}
  {% assign column-align = "center" %}
  {% assign row-position = "end" %}
{% elsif odd-or-even == 1 %}
  {% assign column-align = "left" %}
  {% assign row-position = "start" %}
{% elsif odd-or-even == 0 %}
  {% assign column-align = "right" %}
  {% assign row-position = "end" %}
{% endif %}

{% if row-position == "start" %}
  <!-- Two columns - row start -->
  <table {{table}} align="center" class="responsive-table" width="{{row-width}}">
    <tr>
      <td>
{% endif %}

        <!-- column container -->
        <table {{table}} align="{{column-align}}" class="responsive-table" width="{{column-width}}">
          <tr>
            <td style="padding-bottom: {{row-gutter}}px;">

              <!-- column content -->
              <table {{fluid-table}}>

                <tr>
                  <td>
                    <table {{fluid-table}}>

                      <!-- offer image -->
                      <tr>
                        <td>
                          <a href="{{offer.link}}{% include tracking/url-tracking.html %}">
                            <img src="{{offer.image}}" border="0" alt="{{offer.title}}" width="{{column-width}}" style="display: block;" class="img-max" />
                          </a>
                        </td>
                      </tr>

                      <!-- offer content -->
                      <tr>
                        <td bgcolor="{{color.white}}" style="{{spacing.boxpad.sm}}">

                          {% include element/title.html title=offer.title style="core-md" align="left" %}
                          {% include element/location.html location=offer.location %}
                          {% include element/paragraph.html paragraph=offer.description style="sm" %}

                          <!-- price -->
                          <table {{fluid-table}}>
                            <tr>
                              <td align="left" style="{{text.family}} {{text.color.light}} {{text.sm}} {{text.weight}}" class="text--sm">
                                From <span style="{{title-core.color.orange}} {{title-core.md}}">£{{offer.price}}</span> {{offer.price-description}}
                              </td>
                            </tr>
                          </table>

                          {% include element/button.html style="orange" size="xs" label="View offer" link=offer.link align="left" %}

                        </td>
                      </tr>

                    </table>
                  </td>
                </tr>

              </table>

            </td>
          </tr>
        </table>

{% if row-position == "end" or forloop.last %}
  <!-- Two columns - row end -->
      </td>
    </tr>
  </table>
{% endif %}




