
<!-- Hero -->
{% include system/helpers.html %}

{% assign this         = include.content %}
{% assign config       = this.config %}
{% assign title        = this.title %}
{% assign image        = this.image %}
{% assign text-content = this.content %}
{% assign theme        = "dark" %}


{% if config.theme == "light" %}
  {% assign theme = "light" %}
{% endif %}



{% include page/header/logo.html theme=theme %}

{% if this.title %}
  {% include page/header/title.html content=this %}
{% endif %}

{% if this.image %}
  {% include page/header/image.html content=this %}
{% endif %}