
<!-- Header/Title -->

{% include system/helpers.html %}

{% assign link = page.title-banner.config.link %}

{% if page.title-banner.title %}
<table {{table.outer}}>
  <tr>
    <td align="center" bgcolor="{{color.black}}" style="padding-bottom: {{spacing.lg}}px; {{spacing.gutter}} color: {{color.white}};">
      <table {{table.inner}}>
        <tr>
          <td align="center">
          {% include component/_content.html content=page.title-banner.title theme="dark" %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endif %}
