
{% assign locale = site.data.locale.[site.locale] %}
{% assign foundations   = site.data.foundations %}

{% assign default       = foundations.default %}
{% assign color         = foundations.color %}
{% assign spacing       = foundations.spacing %}
{% assign depth         = foundations.depth %}
{% assign rounded       = foundations.rounded %}
{% assign button        = foundations.button %}
{% assign typography    = foundations.typography %}
{% assign layout        = foundations.layout %}

{% assign container     = foundations.layout.container %}
{% assign breakpoint    = foundations.layout.breakpoint %}
{% assign table         = foundations.layout.table %}
