{% assign foundations   = site.data.foundations %}
{% assign color         = site.data.foundations.color %}
{% assign spacing       = site.data.foundations.spacing %}
{% assign depth         = site.data.foundations.depth %}
{% assign rounded       = site.data.foundations.rounded %}

{% assign typography    = site.data.foundations.typography %}
{% assign text          = site.data.foundations.typography.text %}
{% assign title         = site.data.foundations.typography.title %}

{% assign layout        = site.data.foundations.layout %}
{% assign container     = site.data.foundations.layout.container %}
{% assign breakpoint    = site.data.foundations.layout.breakpoint %}
{% assign table         = site.data.foundations.layout.table %}

{% assign locale = site.data.locale.[site.locale] %}